# Dependencies
node_modules/
.pnpm-store/

# Expo / React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab

# Build output
dist/
build/
coverage/
static-build/

# Local environment
.env
.env.local
.env.*.local

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# EAS
.eas/
